@page "/"

<div>
	<div class="text-center">
		<img class="img-fuild" src="/images/escout-logo_icon-BLUE.svg" alt="" style="width:10rem;">
		<h1><i>eScout - Web</i></h1>
		<br />
		<p>This Web App allows you to create the environment setup to register the events from one athlete during a football game and after get the game statistics.</p>
	</div>

	<br />

	<h4>Steps to create a game:</h4>

	<ol>
		<li>Go to "Boards" and create one competition.</li>
		<li>Create the clubs that will participate.</li>
		<li>Create new athletes and add them to the clubs.</li>
		<li>Create the game with the correct clubs and competition.</li>
		<li>Go to <i>eScout - Mobile</i> app and register the events.</li>
		<li>Check game statistics.</li>
	</ol>

	<br />

	<h4><i>eScout</i> feedback:</h4>

	<div class=" text-center mb-1 overflow-auto">
		<iframe class="embed-responsive-item" src="https://docs.google.com/forms/d/e/1FAIpQLSd_aoydLlUf92PY0KFYwitdAeYUnLlHgLMEmuz_upzV0Nfc9Q/viewform?embedded=true" width="640" height="2311">A carregar</iframe>
	</div>

	<div class="text-right">
		<p><b>Optimized for desktop browser.</b></p>
	</div>
</div>

@code {

}
