<div class="center">
    <a href="#">
        <img src="/images/escout-logo_icon-BLUE.svg" align="middle" width="150" height="150" />
    </a>

    <h2><b><i>eScout - Web</i></b></h2>

    <br />
    <p>Projeto submetido como requisito parcial para a obtenção do grau de Mestre em Engenharia Informática.</p>

    <p><strong>Desenvolvido por:</strong></p>
    <p> - Sandro Camilo Alpoim Ferreira</p>

    <p><strong>Orientadores:</strong></p>
    <p> - Doutor Carlos José Corredoura Serrão, Professor Associado, ISCTE-IUL</p>
    <p> - Doutor Rui Jorge Henriques Calado Lopes, Professor Auxiliar, ISCTE-IUL</p>
</div>

@code {

}
