<div class="center">
	<a href="#">
		<img src="/media/images/escout-logo_icon-BLUE.svg" align="middle" style="width:10rem;" />
	</a>

	<h2><i>eScout - Web</i></h2>

	<br />

	<p>Projeto submetido como requisito parcial para a obtenção do grau de Mestre em Engenharia Informática.</p>

	<p><strong>Desenvolvido por:</strong></p>
	<ul>
		<li>Sandro Camilo Alpoim Ferreira</li>
	</ul>

	<p><strong>Orientadores:</strong></p>
	<ul>
		<li>Doutor Carlos José Corredoura Serrão, Professor Associado, ISCTE-IUL</li>
		<li>Doutor Rui Jorge Henriques Calado Lopes, Professor Auxiliar, ISCTE-IUL</li>
	</ul>
</div>

@code {

}
