
@if (isLoading)
{
    <div class="spinner"></div>
}
else
{
    <p>Insert your username or email to receive a new password.</p>

    <div class="center">
        <EditForm Model="@user" OnValidSubmit="@EmailMeClicked">
            <div class="row justify-content-start">
                <div class="col-5 font-weight-bold">
                    <label class="label-right-align">Username:</label>
                </div>
                <div class="col-7 mb-1">
                    <InputText @bind-Value="user.Username" placeholder="username" class="form-control" />
                    &nbsp;<ValidationMessage For="@(() => user.Username)" />
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col-5 font-weight-bold">
                    <label class="label-right-align">E-mail:</label>
                </div>
                <div class="col-7 mb-1">
                    <InputText @bind-Value="user.Email" placeholder="user@email.com" class="form-control" />
                    &nbsp;<ValidationMessage For="@(() => user.Email)" />
                </div>
            </div>
            <br />
            <div>
                <button class="btn btn-primary" value="Save">Submit</button>
            </div>
        </EditForm>
    </div>
}

@code {
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    private bool isLoading = false;
    private User user = new User();

    private void Cancel() => BlazoredModal.CancelAsync();

    private async Task EmailMeClicked()
    {
        isLoading = true;

        var result = await new RestConnector().PostObjectAsync(RestConnector.RESET_PASSWORD, user);
        if (200.Equals((int)result.StatusCode))
        {
            toastService.ShowSuccess("The new password was been send to your e-mail.");
            await BlazoredModal.CloseAsync(ModalResult.Ok(true));
        }
        else
            toastService.ShowError(await result.Content.ReadAsStringAsync());

        isLoading = false;
    }
}
